{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">Report Inputs</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="measure-search">Measure Search (choose up to 2)</label>
                                <select class="form-control" id="measure-search" name="measure-search[]" multiple="multiple">
                                </select>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-sm-12">
                                <label for="sensor-search">Sensor Locations (choose up to 2)</label>
                                <select class="form-control" id="sensor-search" name="sensor-search[]" multiple="multiple">
                                    <option value=""></option>
                                    {% for sensor in sensors %}
                                    <option value="{{ sensor.id }}">{{ sensor.display }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-sm-6">
                                <label for="start-date">Start Date</label>
                                <input type="date" class="form-control" min="{{ min_date.strftime('%Y-%m-%d') }}" max="{{ max_date.strftime('%Y-%m-%d') }}" value="" name="start-date" id="start-date" />
                            </div>
                            <div class="col-sm-6">
                                <label for="end-date">End Date</label>
                                <input type="date" class="form-control" min="{{ min_date.strftime('%Y-%m-%d') }}" max="{{ max_date.strftime('%Y-%m-%d') }}" value="" name="end-date" id="end-date" />
                            </div>
                        </div>
                        <div class="row pt-2">
                            <div class="col-sm-12">
                                <label for="chart-type">Chart Type</label>
                                <select class="form-control" id="chart-type" name="chart-type">
                                    <option value="" selected disabled></option>
                                    {% for chart_type in chart_types %}
                                    <option value="{{ chart_type.id }}">{{ chart_type.display }}</option>
                                    {% endfor %}
                                </select>
                            </div>                  
                        </div>
                        <hr>
                        <div class="row pt-3">
                            <div class="col-sm-12">
                                <button type="button" id="generate" class="text-center btn btn-primary btn-block">Generate<i class="pl-1 far fa-chart-bar"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">Report Will Appear Here</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 img-container">
                                <img id="report-img" class="report-img" src="" data-title="" data-caption=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-8 map-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <div id="map">
                </div>
                <script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>
            </div>
        </div>
    </div>
</div>
{% endblock %}