{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-12">
                <label for="measure-search">Measure Search</label>
                <select class="form-control" id="measure-search" name="measure-search[]" multiple="multiple">
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
            <label for="sensor-search">Sensor Locations</label>
            <select class="form-control" id="sensor-search" name="sensor-search">
                <option value=""></option>
                {% for sensor in sensors %}
                <option value="{{ sensor.id }}">{{ sensor.display }}</option>
                {% endfor %}
            </select>
            </div>
        </div>

    </div>
    <div class="col-sm-8 map-wrapper">
        <div id="map">
        </div>
        <script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>
    </div>
</div>
{% endblock %}